<nav class="navbar navbar-expand-sm navbar-light bg-lightk">

  <div class="nav-item nav-link active bg-light">
    <a href="#" class="text-secondary">
      <span class="home-menu-icon menu-icon">
      <span class="fa fa-home" aria-hidden="true"></span>
      </span>
     </a> 
      <span class="home-menu-caption menu-caption"></span>
  </div>
  <div class="nav-item  bg-light nav-link">
    <a href="#" class="text-secondary">
      <span class="home-menu-icon menu-icon">
      <span class="fas fa-yen-sign" aria-hidden="true"></span>
      </span>
      <span class="home-menu-caption menu-caption"></span>
    </a>
  </div>
  <div class="nav-item nav-link disabled bg-light">
    <a href="#" class="text-secondary">
      <span class="home-menu-icon menu-icon">
      <span class="fas fa-user-circle" aria-hidden="true"></span>
      </span>
      <span class="home-menu-caption menu-caption"></span>
    </a>
  </div>
</div>

</nav>