<%= month_calendar events: events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
  <%= date.day%>

  <div class="events">
    <%=render "events", events: @events, user: @user %>
  </div>
  
<% end %>