
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <% events.each do |event| %>
    <div class="btn btn-secondary">
      <%=link_to(event.title, edit_event_path(event), class: "dropdown-item", remote: true)%>
      <%=link_to("削除", event_path(event), method: :delete, class: "dropdown-item")%>
    </div>
  <% end %>
  
  </div>
</div>